/*_layouts.css*/
body {
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Helvetica", serif;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Helvetica", sans-serif;
}
