/*components*/
.weatherApp--icon {
  width: 80px;
}

.weatherApp {
  color: black;
  background-color: rgba(255,255,255,0.6);
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
