extends ../includes/layout.pug

block links
  //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='css/master.css')
block title
  title Weather App

block content
  .main-container

    .weatherApp.js-bg-image
      .weatherApp--info.js-location

      .fl-row
        .weatherApp--info-temp
          span.weatherApp--temp.js-temp
          sup &deg;
          span.js-temp-unit

          .weatherApp--info-feel
            span.weatherApp--temp-feel.js-temp-feel
            sup &deg;
            span.js-temp-unit

          .weatherApp--info
            span.weatherApp--summary.js-summary
          .weatherApp--info
            span.js-rain

        .weatherApp--info-icon
          canvas.weatherApp--icon.js-weatherIcon

      .weatherApp--tempUnit
        span.js-tempC ℃
        span.js-tempF F
    footer
      p created by Thiago de Bastos, 2016. No rights reserved.
block scripts
  script(src="js/vendor/vendor.js")
  script(src="js/vendor/skycons.js")
  script(src="js/main.js")
