extends ../includes/layout.pug

block links
  //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='css/master.css')
block title
  title Weather App

block content
  header: h1 Weather App
  .weatherApp.js-bg-image
    .weatherApp--info.js-location

    .weatherApp--info-temp
      span.weatherApp--temp.js-temp
      sup &deg;
      span.js-temp-unit

    .weatherApp--info-feel
      span.weatherApp--temp-feel.js-temp-feel
      sup &deg;
      span.js-temp-unit

    .weatherApp--info
      span.weatherApp--summary.js-summary
    .weatherApp--info
      span.js-rain
    .weatherApp--info
      img.weatherApp--icon.js-weatherIcon
    form.weatherApp--tempUnit
      input.js-tempC(type="radio" name="tempUnit" value="celsius" checked)
      | ℃
      input.js-tempF(type="radio" name="tempUnit" value="fahrenheit")
      | F
  footer
    p created by Thiago de Bastos, 2016. No rights reserved.
block scripts
  script(src="js/vendor/vendor.js")
  script(src="js/main.js")
