/*components*/
* {
  box-sizing: border-box;
}

.fl-row {
  display: flex;
  flex-direction: row;
}

.weatherApp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255,255,255,0.6);
  width: 430px;
  height: 390px;
  color: white;
  padding: 1rem;
  background-size: cover;
  border: 8px solid #123;
}

.weatherApp--info-temp,
.weatherApp--info-icon {
  flex: 1;
  flex-wrap: wrapreverse;
}
.weatherApp--icon {
  width: 220px;
}

.weatherApp--temp {
  font-size: 4em;
}

.weatherApp--temp + sup {
  font-size: 2.5em;
}

.weatherApp--tempUnit {
  align-self: flex-end;
}

footer {
  font-size: 0.3rem;
  color: black;
}
